USE [master]
GO
/****** Object:  Database [Comandos]    Script Date: 23/11/2023 9:01:59 ******/
CREATE DATABASE [Comandos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Comandos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Comandos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Comandos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Comandos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Comandos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Comandos]
GO
/****** Object:  Table [dbo].[Tabla]    Script Date: 23/11/2023 9:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla](
	[Dato] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Tabla] ([Dato]) VALUES (1)
INSERT [dbo].[Tabla] ([Dato]) VALUES (2)
INSERT [dbo].[Tabla] ([Dato]) VALUES (NULL)
GO
USE [master]
GO
